taxi_bigraph/[dD]ebug/
taxi_bigraph/[gG]eneratedFiles/
taxi_bigraph/[wW]in32/
taxi_bigraph/ipch/
taxi_bigraph/taxi_bigraph.opensdf
taxi_bigraph/taxi_bigraph.pro.user
taxi_bigraph/taxi_bigraph.sdf
taxi_bigraph/taxi_bigraph.suo
taxi_bigraph/.vs
taxi_bigraph/release
container/[dD]ebug/
container/[gG]eneratedFiles/
container/[wW]in32/
container/ipch/
container/.vs
container/release
container/Container.opensdf
container/Container.sdf
container/Container.suo
build/